.main
  .main__header
    .main__header--left
      %h3.main__header--left--name
        = @group.name
      %ul.main__header--left--member
        = @group.group_users.each do |group_user|
          = group_user.user.name
    .main__header--right
      = link_to edit_group_path(@group) do 
        .main__header--right--btn
          Edit
  .main__contents
    = render @messages
  .main__footer
    .main__footer--form
      .main__footer--form--input
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'main__footer--form--input--text', placeholder: 'type message'
          .main__footer--form--input__mask
            = f.label :image, class: 'main__footer--form--input__mask__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'main__footer--form__submit'