.main
  .main__header
    %h3.main__header--name
      = current_group.name
    %ul.main__header--member
      
    .main__header--right
      Edit
  .main__contents
    = render @messages
  .main__footer
    .main__footer--form
      .main__footer--form--input
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form--input--text', placeholder: 'type message'
          .main__gooter--form--input__mask
            = f.label :image, class: 'form__mask__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'